<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Login | Yagra</title>
    <link rel="stylesheet" href="/static/css/main.css?t=20150310" />
</head>

<body>
    {% include 'index/nav.html' %}
    <div class="">
        <div>
            {% for error in errors %}
            <li>{{ error}}</li>
            {% endfor %}
        </div>
        <form class="" action='' method="POST">
            <fieldset>
                <div id="legend" class="">
                    <legend class="">登录</legend>
                </div>

                <div class="">
                    <label class="" for="title">E-mail</label>
                    <div class="">
                        <input class="" id="email" name="email" placeholder="" type="text" value="" />
                    </div>
                </div>

                <div class="">
                    <label class="" for="title">Password</label>
                    <div class="">
                        <input class="" id="password" name="password" placeholder="" type="password" value="" />
                    </div>
                </div>

                <div class="">
                    <label class="" for="title"></label>
                    <div class="">
                        <button class="">登录</button>
                        <a href="/user/register" class="">注册账号</a>
                        <a href="/user/forgot" class="">忘记密码</a>
                        <input type="hidden" name="_xsrf" value="{{ escaped_xsrf() }}">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>
