<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>关于 | Yagra</title>
    {% include 'index/header.html' %}
    <link rel="stylesheet" href="http://cdn.staticfile.org/prettify/r298/prettify.min.css" />
</head>

<body onload="prettyPrint()" >
    {% include 'index/nav.html' %}

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>使用帮助</h2>
        <p class="mt20">头像访问接口: {{ api_url }}/{md5 of your lowercase email}</p>
        <p class="">例如您可以通过下边的 Python 代码获得所需的头像 api 地址</p>
        <pre class="prettyprint lang-py">
import hashlib

email = "someone@somewhere.com"
avatar_url = "{{ api_url }}/" + hashlib.md5(email.lower()).hexdigest()</pre>
      </div>

    </div> <!-- /container -->

    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/prettify/r298/prettify.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
