<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/main.css?t=20150310" />
</head>

<body>
    {% include 'index/nav.html' %}

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>欢迎来到 Yagra</h2>
        <p class="mt20">该站点提供了类似 <a href="http://gravatar.com" target="_blank">Gravatar.com</a> 的avatar hosting 服务</p>
        <p>您可以上传、管理图片，并可以通过系统提供的 API 访问您的头像</p>
        <p>
            {% if not current_user %}
            <a class="btn btn-default btn-primary mr5" href="/user/login" role="button">登录</a>
            <a class="btn btn-default btn-primary mr5" href="/user/register" role="button">注册</a>
            {% endif %}
            <a class="btn btn-default btn-primary" href="/about" role="button">使用帮助</a>
        </p>
      </div>

    </div> <!-- /container -->

    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
