<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Upload Image | Yagra</title>
    <link rel="stylesheet" href="/static/css/main.css?t=20150310" />
</head>

<body>
    {% include 'index/nav.html' %}
    <div style="text-align:center">
        <div>
            {% for error in errors %}
            <li>{{ error}}</li>
            {% endfor %}
        </div>
        <div>
            {% for notice in notify %}
            <li>{{ notice }}</li>
            {% endfor %}
        </div>

        <div>
            {% for image in images %}
            <li><img src="{{ image.get_url() }}" width=200, height=200></img></li>
            {% endfor %}
        </div>
    </div>
</body>
</html>
