<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理您的图片 | Yagra</title>
    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/main.css?t=20150310" />
</head>

<body>
    {% include 'index/nav.html' %}

    <div class="container-fluid container mt15">
        <div class="row">
            <div class="col-md-9 left">
                <div class="container-box">
                    <div>
                        <div id="legend" class="mb30">
                            <legend class="">您目前拥有 {{ count }} 张图片</legend>
                        </div>

                        <div class="row">
                            {% for image in images %}
                            <div class="col-md-4">
                                <li class="wall-li"><img class="wall-img" src="{{ image.get_url() }}"></img></li>
                                <li class="wall-li mt5"><a href="javascript:;" class="j_set_avatar" rel="{{ image.imgid }}">设为头像</a></li>
                            </div>
                            {% endfor %}

                            {% if len(images) > 0 %}
                                <input type="hidden" name="_xsrf" value="{{ escaped_xsrf() }}">
                            {% endif %}
                        </div>

                        {% if page_count > 0 %}
                        <div class="mt30">
                            <nav>
                            <ul class="pagination">
                                {% if show_first %}
                                <li class=""><a href="?page=1">1</a></li>
                                {% endif %}

                                {% if show_first and previous_page != 2 %}
                                <li class="disabled"><a href="javascript:;">...</a></li>
                                {% endif %}

                                {% if has_previous %}
                                <li class=""><a href="?page={{ previous_page }}">{{ previous_page }}</a></li>
                                {% endif %}

                                <li class="active"><a href="?page={{ current_page }}">{{ current_page }}</a></li>

                                {% if has_next %}
                                <li class=""><a href="?page={{ next_page }}">{{ next_page }}</a></li>
                                {% endif %}

                                {% if show_last and next_page != page_count - 1 %}
                                <li class="disabled"><a href="javascript:;">...</a></li>
                                {% endif %}

                                {% if show_last %}
                                <li class=""><a href="?page={{ page_count }}">{{ page_count }}</a></li>
                                {% endif %}
                            </ul>
                            </nav>
                        </div>
                        {% endif %}

                        <div class="alert alert-error collapse mt15" id="manage-error-div">
                            <li id="manage-error-li"></li>
                        </div>

                        <div class="alert alert-success collapse" id="manage-success-div">
                            <li id="manage-success-li"></li>
                        </div>

                    </div>
                </div><!--container-box-->
            </div><!--col-md-9-->

            <div class="col-md-3 right">
                <div class="sidenav container-box">
                    <ul>
                        <li class=""><a href="javascript:;">{{ current_user.username }}</a></li>
                        <li class="">您当前的头像</li>
                        <li class="mt5"><img id="sidebar-avatar" class="sidebar-img" src="{{ current_user.get_avatar_url()}}" /></li>
                    </ul>
                </div>
            </div>

        </div><!--row-->
    </div><!--container-->

    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/avatar.js"></script>
</body>
</html>
